@font-face {
	font-family: "AbrilFatface-Regular";
	src : url('font/AbrilFatface-Regular.ttf');
}

@font-face {
	font-family: "DancingScript-Regular";
	src : url('font/DancingScript-Regular.ttf');
}

@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src : url('font/PlayfairDisplay-Regular.ttf');
}